

<form asp-controller="Home" asp-action="UploadFile" method="post"
      enctype="multipart/form-data">

    <input type="file" name="file" />
    <button type="submit">Upload File</button>
</form>
<form asp-controller="Home" asp-action="UploadFiles" method="post"
      enctype="multipart/form-data">
    <input type="file" name="files" multiple />
    <button type="submit">Upload Files</button>
</form>

<form asp-controller="Home" asp-action="UploadFileViaModel" method="post"
      enctype="multipart/form-data">
    <input type="text" name="username" id="username" placeholder="Username" />
    <input type="password" name="password" id="password" placeholder="Password" />
    @*<input type="text" name="Body" id="Body" placeholder="Body" />
        <input type="text" name="UserClass" id="UserClass" placeholder="UserClass" />

    <input type="imageId" name="imageId" id="imageId" placeholder="imageId" />
    <input type="imageCaption" name="imageCaption" id="imageCaption" placeholder="imageId" />*@


    <input type="file" name="FileToUpload" multiple value="Select Files" />

    <button type="submit">Upload File (model)</button>

</form>

@*<form asp-controller="Home" asp-action="UploadFileViaModel" method="post"
      enctype="multipart/form-data">



    <div class="uploader__contents">
        <label class="button button--secondary" for="fileinput">Select Files</label>
        <input name="FileToUpload" id="fileinput" class="uploader__file-input" type="file" multiple value="Select Files">
    </div>
    <input class="button button--big-bottom" type="submit" value="Upload Selected Files">


</form>*@

